.home-page-title{
    text-align:center;
    padding-bottom:20px;
}
.main{
    padding-left:10px;

}
.p1{
 text-align:center;
 width:50%;
 text-align:center;
 margin-left: 25%;
}

.body-para{
    width:50%;
    text-align:center;
    margin-left: 25%;
}
.pic1{

   width:100%;
    text-align:center;
    
}